
<div id="box1" style="font-size: 20px; color:white">
  美国硅谷一线工程师在线直播授课
</div>

<div class="flex" >
  <div class="box" style="font-size: large; text-align: center">大班直播课
    <div style="font-size: medium">老师直播授课，实时答疑</div>
    <div style="font-size: small">配套习题，边学边练</div>
    <div><button class="btn btn-outline-primary">了解更多</button></div>
  </div>
  <div class="box" style="font-size: large; text-align: center">小班集中营
    <div style="font-size: medium">长周期课程</div>
    <div style="font-size: small">班主任督促</div>
    <div><button class="btn btn-outline-primary">了解更多</button></div>
  </div>
  <div class="box" style="font-size: large; text-align: center">一对一私教
    <div style="font-size: medium">针对性辅导</div>
    <div style="font-size: small">面对面聆听</div>
    <div><button class="btn btn-outline-primary">了解更多</button></div>
  </div>
</div>
